    * {background-image: url("https://socialnewsdaily.com/wp-content/uploads/2018/08/Webp.net-resizeimage-27.jpg"); background-size: cover}
    div{color: magenta	;background: orange; width: 20%}
    th{color: brown	;background: lime; width: 20%}
    td{color: pink	;background: olive; width: 20%}
    ul, li{color: green	;background: silver; width: 20%}
    h4{color: yellow;background: navy; width: 20%}
    h1 { color: red;background: purple; width: 20%}    

    h3 { color: purple;background: black ; width: 20%}